  <% provide(:title, 'Question Bank Index') %>
  <% provide(:button_text, 'Create question') %>
  <div class="center jumbotron">
    <h1>Welcome to the CFP site</h1>

    <h2>
      This is the home page for learning CFP material
    </h2>

    <%= link_to "Return to home", root_path, class: "btn btn-lg btn-primary" %>
  </div>

<div><strong>Choose Class</strong></div>
<div class ="radio-inline">
  <div><label><%= radio_button_tag 'class', 'all classes', true %>
                  All Classes</label></div>
  <div><label><%= radio_button_tag 'class', 'class one', false %>
                  Class One</label> General Financial Planning Principles, Professional Conduct, and Regulation</div>
  <div><label><%= radio_button_tag 'class', 'class two', false %>
                  Class Two</label> Risk Management, Insurance, and Employee Benefits</div>
  <div><label><%= radio_button_tag 'class', 'class three', false %>
                  Class Three</label> Investment Planning</div>
  <div><label><%= radio_button_tag 'class', 'class four', false %>
                  Class Four</label> Tax Planning</div>
  <div><label><%= radio_button_tag 'class', 'class five', false %>
                  Class Five</label> Retirement Savings and Income Planning</div>
  <div><label><%= radio_button_tag 'class', 'class six', false %>
                  Class Six</label> Estate Planning</div>
  <div><label><%= radio_button_tag 'class', 'class seven', false %>
                  Class Seven</label> Financial Plan Development</div>
</div>

<div><%= link_to "New question", new_question_path, class: "btn btn-primary" %></div>
<div> There are (<%= Question.count %>) questions in the question bank</div>
<%= will_paginate @questions %>
  <table class="pretty">
      <tr>
        <th><%= sortable "cfp_class", "Class" %></th>
        <th><%= sortable "question" %></th>
        <th><%= sortable "created_at", "Created" %></th>
      </tr>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.cfp_class %></td>
          <td><%= question.question.truncate(50, separator: /\s/)%></td>
          <td><%= question.created_at.strftime("%B %e, %Y") %></td>
          <td><%= link_to question_path(question), class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-eye-open"></span> Show
              <% end %>

          <td><%= link_to edit_question_path(question), class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-edit"></span> Edit
              <% end %>
          </td>
          <td><%= link_to question_path(question), method: :delete,
                  data: { confirm: "You sure?" }, class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-trash"></span> Delete
              <% end %>
          </td>
        </tr>
      <% end %>

  </table>
<%= will_paginate @questions %>
