  <% provide(:title, 'Question Bank Index') %>
  <% provide(:button_text, 'Create question') %>
  <div class="center jumbotron">
    <h1>Welcome to the CFP site</h1>

    <h2>
      This is the home page for learning CFP material
    </h2>

    <%= link_to "Return home", root_path, class: "btn btn-primary" %>
    <%= link_to "View books", books_path, class: "btn btn-primary" %>
    <%= link_to "New question", new_question_path, class: "btn btn-primary" %>
  </div>

<%= will_paginate @questions %>
  <table>
      <tr>
        <th class ="passive"><%= sortable "book_id", "Book" %></th>
        <th><%= sortable "question" %></th>
        <th><%= sortable "created_at", "Created"%></th>
        <th colspan="3"></th>
      </tr>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.book_id %></td>
          <td><%= question.question.truncate(50, separator: /\s/)%></td>
          <td><%= question.created_at.strftime("%B %e, %Y") %></td>
          <td><%= link_to question_path(question), class: "btn btn-sm btn-view" do %>
                  <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>

          <td><%= link_to edit_question_path(question), class: "btn btn-sm btn-edit" do %>
                  <span class="glyphicon glyphicon-edit"></span>
              <% end %>
          </td>
          <td><%= link_to question_path(question), method: :delete,
                  data: { confirm: "You sure?" }, class: "btn btn-sm btn-delete" do %>
                  <span class="glyphicon glyphicon-trash"></span>
              <% end %>
          </td>
        </tr>
      <% end %>

  </table>
<%= will_paginate @questions %>
